@font-face {
  font-family: primaryRegular;
  src: url("../../fonts/Passenger/woff2/PassengerRegular.woff2") format("woff2"),
    url("../../fonts/Passenger/woff/PassengerRegular.woff") format("woff");
}

@font-face {
  font-family: primaryItalic;
  src: url("../../fonts/Passenger/woff2/PassengerRegularItalic.woff2"),
    format("woff2"),
    url("../../fonts/Passenger/woff/PassengerRegularItalic.woff"),
    format("woff");
}

@font-face {
  font-family: primaryBold;
  src: url("../../fonts/Passenger/woff2/PassengerBold.woff2") format("woff2"),
    url("../../fonts/Passenger/woff/PassengerBold.woff") format("woff");
}

@font-face {
  font-family: primaryExtrabold;
  src: url("../../fonts/Passenger/woff2/PassengerExtrabold.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerExtrabold.woff") format("woff");
}

@font-face {
  font-family: primaryExtraboldItalic;
  src: url("../../fonts/Passenger/woff2/PassengerExtraboldItalic.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerExtraboldItalic.woff")
      format("woff");
}

@font-face {
  font-family: primaryExtralight;
  src: url("../../fonts/Passenger/woff2/PassengerExtralight.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerExtralight.woff") format("woff");
}

@font-face {
  font-family: primaryExtralightItalic;
  src: url("../../fonts/Passenger/woff2/PassengerExtralightItalic.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerExtralightItalic.woff")
      format("woff");
}

@font-face {
  font-family: primaryItalic;
  src: url("../../fonts/Passenger/woff2/PassengerRegularItalic.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerRegularItalic.woff") format("woff");
}

@font-face {
  font-family: primaryLight;
  src: url("../../fonts/Passenger/woff2/PassengerLight.woff2") format("woff2"),
    url("../../fonts/Passenger/woff/PassengerLight.woff") format("woff");
}

@font-face {
  font-family: primaryLightItalic;
  src: url("../../fonts/Passenger/woff2/PassengerLightItalic.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerLightItalic.woff") format("woff");
}

@font-face {
  font-family: primaryMedium;
  src: url("../../fonts/Passenger/woff2/PassengerMedium.woff2") format("woff2"),
    url("../../fonts/Passenger/woff/PassengerMedium.woff") format("woff");
}

@font-face {
  font-family: primarySemibold;
  src: url("../../fonts/Passenger/woff2/PassengerSemibold.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerSemibold.woff") format("woff");
}

@font-face {
  font-family: primarySemiboldItalic;
  src: url("../../fonts/Passenger/woff2/PassengerSemiboldItalic.woff2")
      format("woff2"),
    url("../../fonts/Passenger/woff/PassengerSemiboldItalic.woff")
      format("woff");
}

@font-face {
  font-family: secondaryBold;
  src: url("../../fonts/PassengerSans/woff2/PassengerSansBold.woff2")
      format("woff2"),
    url("../../fonts/PassengerSans/woff/PassengerSansBold.woff") format("woff");
}

@font-face {
  font-family: secondaryLight;
  src: url("../../fonts/PassengerSans/woff2/PassengerSansLight.woff2")
      format("woff2"),
    url("../../fonts/PassengerSans/woff/PassengerSansLight.woff") format("woff");
}

@font-face {
  font-family: secondaryMedium;
  src: url("../../fonts/PassengerSans/woff2/PassengerSansMedium.woff2")
      format("woff2"),
    url("../../fonts/PassengerSans/woff/PassengerSansMedium.woff")
      format("woff");
}

@font-face {
  font-family: secondaryRegular;
  src: url("../../fonts/PassengerSans/woff2/PassengerSansRegular.woff2")
      format("woff2"),
    url("../../fonts/PassengerSans/woff/PassengerSansRegular.woff")
      format("woff");
}
