h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "primaryBold", serif;
  line-height: 110%;
}

p {
  font-family: "secondaryLight", sans-serif;
}

.spectral,
.primary {
  font-family: "primaryBold", serif;
}

.lato,
.secondary {
  font-family: "secondaryLight", sans-serif;
}

.extralight {
  font-weight: 200;
}
.extralight-italic {
  font-weight: 200;
  font-style: italic;
}
.light {
  font-weight: 300;
}
.light-italic {
  font-weight: 300;
  font-style: italic;
}
.regular {
  font-weight: 400;
}
.regular-italic {
  font-weight: 400;
  font-style: italic;
}
.medium {
  font-weight: 500;
}
.medium-italic {
  font-weight: 500;
  font-style: italic;
}
.semibold {
  font-weight: 600;
  font-style: italic;
}
.semibold-italic {
  font-weight: 600;
  font-style: italic;
}
.bold {
  font-weight: 500;
}
.bold-italic {
  font-weight: 700;
  font-style: italic;
}
.extrabold {
  font-weight: 800;
}
.extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

a {
  text-decoration: none;
}

$fontsizes: (
  14: 14px,
  18: 18px,
  24: 24px,
  36: 36px,
  48: 48px,
  64: 64px,
  72: 72px,
  96: 96px,
);

@each $key in map-keys($fontsizes) {
  .fs-#{$key} {
    font-size: map-get($fontsizes, $key);
  }
}
