.landing_text {
  width: 50%;
  &_container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h1 {
    padding-bottom: 50px;
  }
  padding: 0px 150px 0px 150px;
}

@media (max-width: 900px) {
  .landing_text {
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
    height: auto;
    h1 {
      font-size: 36px;
    }
  }
}
