.landing_text {
  height: 80vh;
  &_container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h1 {
    padding-bottom: 50px;
  }
  padding: 0px 150px 0px 150px;
}

@media (max-width: 900px) {
  .landing_text {
    height: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    padding: 0px;
    padding-right: 25px;
    padding-left: 25px;
    h1 {
      font-size: 48px;
    }
  }
}
