.landing {
  .shape {
    display: flex;
    justify-content: flex-end;
    position: relative;
    img {
      margin-right: -100px;
      margin-top: -30%;
    }

    .img1 {
      position: absolute;
      z-index: 999;
      width: 100%;
      top: 20%;
      left: 70%;
      img {
        height: 600px;
      }
    }

    .img2 {
      position: absolute;
      z-index: 998;
      width: 100%;
      top: 50%;
      left: 40%;
      img {
        height: auto;
      }
    }
  }
}

@media (max-width: 900px) {
  .landing {
    .shape {
      display: flex;
      justify-content: center;
      img {
        margin: 0px;
      }
      .img1 {
        display: none;
      }
      .img2 {
        position: static;
      }
    }
  }
}
