.shape_container {
  position: relative;

  .orange_shape {
    position: absolute;
    top: -300px;
    right: 0;

    &_down {
      position: absolute;
      top: -350px;
      left: 50px;
      height: 600px;
    }
  }

  .green_shape {
    position: absolute;
    top: 0;
    right: -250px;

    &_down {
      position: absolute;
      top: -400px;
      left: -100px;
    }
  }

  button {
    position: absolute;
    top: 50px;
    right: 100px;
  }
}

.text_container {
  text-align: center;
  height: 100vh;

  .green {
    padding-bottom: 50px;
  }
}

@media (max-width: 1400px) {
  .orange_shape {
    height: 400px;
    opacity: 0.1;

    &_down {
      opacity: 0.1;
    }
  }

  .green_shape {
    height: 400px;
    opacity: 0.1;

    &_down {
      opacity: 0.1;
    }
  }
}

@media (max-width: 900px) {
  .shape_container {
    button {
      right: 25px;
      top: 25px;
    }

    .green_shape {
      display: none;
    }

    .orange_shape {
      right: 0px;
      &_down {
        display: none;
      }
    }
  }

  .text_container {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
  }
}
