.landing_preview {
  h2 {
    padding-bottom: 40px;
    padding-left: 150px;
  }

  .flex {
    flex-wrap: wrap;
    &_regular {
      padding-left: 150px;
    }

    &_reverse {
      flex-direction: row-reverse;
      padding-right: 150px;
    }
  }

  &_shape_container {
    display: flex;
    justify-content: flex-end;

    &_reverse {
      justify-content: flex-start;
    }

    img {
      z-index: 10;
    }

    position: relative;
    width: 100%;

    .orange_shape_down {
      position: absolute;
      top: 0;
      right: -10%;
      height: 600px;
      z-index: 1;
    }

    .green_shape_down {
      position: absolute;
      top: 0;
      left: -10%;
      height: 600px;
      z-index: 1;
    }
  }
}

@media (max-width: 900px) {
  .landing_preview {
    padding-top: 100px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 100px;
    h2 {
      padding: 0px;
      font-size: 48px;
    }
    p {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .flex {
      flex-direction: column;
      padding: 0px;
    }
    .flex_regular {
      padding: 10px;
    }
    .orange_shape {
      right: 0px;
    }
    .landing_preview_shape_container .orange_shape_down {
      right: 0px;
    }
  }
}
