.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;

  span {
    font-family: "Lato", sans-serif;
  }

  h1 {
    padding-top: 25px;
  }

  h1,
  p,
  .signOut_container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .btn_cta {
    width: 100%;
  }

  .main_list,
  .options_list {
    padding-bottom: 50px;
  }

  .MuiTypography-displayBlock {
    color: #007f5b;
  }

  .MuiSvgIcon-root {
    fill: #007f5b;
  }

  .Mui-selected {
    background-color: transparent;
    color: #e2824f;
    font-weight: 500;
  }

  .MuiListItem-root.Mui-selected {
    background-color: #e2824f;

    .MuiTypography-displayBlock {
      color: white;
      font-weight: bold;
    }

    .MuiSvgIcon-root {
      fill: white;
    }
  }

  .MuiListItem-button:hover {
    background-color: #007f5b;

    .MuiTypography-displayBlock {
      color: white;
    }

    .MuiSvgIcon-root {
      fill: white;
    }
  }

  .MuiListItem-root.Mui-selected:hover {
    background-color: #e2824f;
  }
}

@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }
}
