.dashboard {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dashboard_container {
  padding: 25px;

  p {
    padding-bottom: 25px;
  }

  .Cell-highlightedText-24 {
    color: #2d936c;
  }

  .makeStyles-appointment-90 {
    background-color: #e2824f;

    &:hover {
      background-color: #2d936c;
    }
  }
}

@media (min-width: 900px) {
  .dashboard_container {
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
      margin-right: 1%;
      width: 49%;

      .card_img {
        img {
          height: 70px;
        }
      }

      .fs-36 {
        color: #2d936c;
      }

      p {
        color: #e2824f;
      }

      .line {
        padding: 50px;
        canvas {
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .dashboard {
    margin-bottom: 50px;
    display: block;

    .dashboard_container {
      padding: 0px;

      a {
        padding-top: 25px;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
      }

      p {
        padding-left: 5%;
      }

      .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
        margin: 10px;

        .fs-36 {
          color: #2d936c;
        }

        p {
          color: #e2824f;
        }
      }
      .line {
        canvas {
          height: auto;
        }
      }
    }
  }
}
