.dashboard_container {
  padding: 25px;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    width: 400px;
    height: 500px;
  }
}
