.chatroom_container {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;

  &_name {
    align-items: center;
    padding-left: 15px;
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12);

    img {
      height: 30px;
    }
  }

  &_form {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
    form {
      display: flex;
    }

    input {
      width: 400px;
      outline: none;
      border: none;
      padding: 0 10px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
        0px 3px 4px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      padding: 10px;
    }

    button {
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline;
      cursor: pointer;
      padding: 10px;
      border-radius: 100%;
      margin-left: 25px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
        0px 3px 4px rgba(0, 0, 0, 0.12);
    }

    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media (min-width: 900px) {
  .chatroom_container_mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .chatroom_container {
    display: none;
  }

  .chatroom_container_form {
    position: sticky;
  }

  .chatroom_container_mobile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    .message_container {
      margin: 0px;
    }
    .chatroom_container_form input {
      width: 250px;
    }

    .message_container {
      padding-top: 70px;
      padding-bottom: 10px;
    }

    .chatroom_container_form {
      padding-top: 20px;
      padding-bottom: 80px;
    }
  }
}
