@media (min-width: 900px) {
  .chatMobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .chatMobile {
    a {
      padding-top: 25px;
    }
    img {
      height: 30px;
    }
    .MuiListItem-root {
      height: 50px;
      color: white;
      background-color: rgba(45, 147, 108, 0.5);
    }
    .MuiList-padding {
      padding: 0px;
      padding-top: 50px;
    }
  }
}
