@media (min-width: 900px) {
  .chat_container {
    display: grid;
    grid-template-columns: 2fr 3fr 7fr;
  }
}
.nodata {
  .fs-24 {
    margin: 25px;
  }
  a {
    margin-top: 25px;
  }
}

@media (max-width: 900px) {
  .chat_container {
    height: auto;
    p {
      padding-left: 5%;
    }
  }
}
