* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #accba1;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2824f;
}

//Typo
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-48 {
  font-size: 48px;
}

.fs-64 {
  font-size: 64px;
}

.fs-72 {
  font-size: 72px;
}

//Positioning
.full-height {
  height: 100vh;
}

//Flex
.flex {
  display: flex;

  &_center {
    justify-content: center;
    align-items: center;
  }

  &_column {
    flex-direction: column;
  }
}

//Grid
.grid {
  display: grid;
}

// Colors
.orange {
  color: #e2824f;
}

.green {
  color: #accba1;
}

.white {
  color: white;
}

.grey {
  color: #e0e0e0;
}

.bg-orange {
  background-color: #e2824f;
}

//Buttons
.btn_cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #e2824f;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  z-index: 999;

  &:hover {
    background: darken($color: #e2824f, $amount: 5);
  }
}

.btn_google {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 50px;
  cursor: pointer;
  border: 2px solid #dddddd;
  background-color: transparent;
  border-radius: 34px;
  text-transform: uppercase;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.5);

  &:hover {
    border-color: #e2824f;
  }

  img {
    height: 25px;
    padding-right: 25px;
  }
}
