.shape_container {
    position: relative;


    .orange_shape {
        position: absolute;
        top: -300px;
        right: 0;

        &_down {
            position: absolute;
            top: -400px;
            left: 50px;
            height: 800px;
        }
    }

    .green_shape {
        position: absolute;
        top: 0;
        right: -250px;

        &_down {
            position: absolute;
            top: -400px;
            left: -100px;
        }
    }
    
    button {
        position: absolute;
        top: 50px;
        right: 100px; 
    }
}

.text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;

    h1 {
        font-size: 48px;
    }

    .green {
        padding-bottom: 50px;
    }
}

@media(max-width: 1400px){
    .orange_shape {
        height: 400px;

        &_down {
            opacity: 0.1;
        }
    }

    .green_shape {
        height: 400px;

        &_down {
            opacity: 0.1;
        }
    }
}