@font-face {
  font-family: "Passenger Display Bold";
  src: url("PassengerDisplay-Bold.woff2") format("woff2"),
    url("PassengerDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Passenger Display";
  src: url("PassengerDisplay-Medium.woff2") format("woff2"),
    url("PassengerDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Passenger Display";
  src: url("PassengerDisplay-Light.woff2") format("woff2"),
    url("PassengerDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Passenger Display";
  src: url("PassengerDisplay-Regular.woff2") format("woff2"),
    url("PassengerDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
